<html>
<head>
{{>header}}
<title>A-Reunite</title>
</head>
<body>
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {{>nav}}
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** About Us Page ***** -->
    <div class="page-heading-shows-events">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>About A-Reunite</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="amazing-venues">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="left-content">
                        <h4>Short background</h4>
                        <p>Welcome to an innovative web-based platform tailored for university alumni – a space where connections flourish, collaboration thrives, and unforgettable alumni events come to life.Conceived by a group of passionate university alumni, this platform addresses the need for a centralized hub to foster collaboration, organization, and participation in alumni events. Crafted with a vision to cater to the diverse needs of our esteemed alumni community, our dynamic and user-friendly web application offers the a number of useful advantages </p>
                        <br>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{>footer}}
    
    {{>scripts}}

  </body>

</html>
